@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --Verde: #F57D25;
    --Lilás: #4D9AA2;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--Lilás);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .450);

    transform: translate(-50%, -50%);
    transition: width 1s ease-in-out, height 1s ease-in-out;
}

section#login > div#imagem {
    display: block;
    background: var(--Lilás) url(../imagens/predios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--Lilás);
    border: 2px solid var(--Lilás);
    display: block;
    width: 100%;
    height: 41px;
    border-radius: 8px;
    margin: 5px 0;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    /* background-color: black; */
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #44cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-8px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--Verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #B57748;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #fff;
    color: #B57748;
    border: 1px solid var(--Verde);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #4D9AA2;
}

form > a.botao > i {
    font-size: 0.8em;
}