@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #49a09d
    Lil치s: #5f2c82
*/

:root {
    --Verde: #49a09d;
    --Lil치s: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--Lil치s);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .450);

    transition: width 1s ease-in-out, height 1s ease-in-out;
}

section#login > div#imagem {
    display: block;
    background: var(--Lil치s) url(../imagens/predios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}